
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;

}

a{
    text-decoration: none;
}
nav{
    background: #000000;
}



nav::after{
    content: '';
    clear: both;
    display: table;
}




nav .logo{
    float: left;
    height: 70px;
    padding-top: 12px;
    padding-left: 58px;


}


.logo img{
    margin-left: -23px;
    width: 200px;
    height: 55px;
    margin-top: -2px;
}


nav ul{
    float:right;
    list-style: none;
    margin-right: 90px;
  
}

nav ul li{
    display: inline-block;
    background: black;
    margin: 0 5px;
}

nav ul li a{
    line-height: 70px;
    color: white;
    letter-spacing: 2px;
    transition: 2s;
    font-size: 18px;
    padding: 8px 15px;


}


nav ul li a:hover{
    transition: 0.3s;
    box-shadow: 0 0 5px #3aeff5, 0 0 5px #37e9e9;
    border-radius: 5px;

}


nav ul ul li a:hover{
    transition: 0.3s;
    box-shadow: 0 0 5px #13eb5b, 0 0 5px #16eb87;


}


nav ul ul{
    position: absolute;
    top:80px;
    margin-left: -50px;
    opacity: 0;
    visibility: hidden;
    transition: top 0.3s;
    z-index: 2;

}

nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
}
nav ul ul li{
    position:relative;
    margin: 0px;
    width: 210px;
    text-align: center;

    float: none;
    display:list-item;
    border-bottom:1px solid rgba(0,0,0,0.3);
}

nav ul ul li a{
    line-height: 50px;
    font-size: 15px;
}

.show,.icon{
    display: none;
}

@media all and (max-width: 968px){
    nav ul{
        margin-right:0px; 
        float: left;
    }

    nav .logo{
        width: 100%;
        padding-left: 30px;
    }

    nav ul li, nav ul ul li{
        display: block;
        width: 100%;
        border-radius: 5px;
    }

    nav ul ul{
        top: 78px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
        z-index: 1;
        margin-left: 9px;
    }

    
    nav ul ul li{
        border-bottom: 0px;
    }

    .show{
        display: block;
        color: white;
        font-size: 18px;
        padding: 0 17px;
        line-height: 70px;
        cursor: pointer;
        letter-spacing: 2px;
        transition: 0.3s;
    }
    .icon{
        display: block;
        color: white;
        position:absolute;
        margin-top: 21px ;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor:pointer;

    }
    nav ul li a:hover{
    }

    .show + a, ul{
        display: none;
    }

    [id^=btn]:checked + ul{
        display: block;
    }

    .show:hover{
        color:cyan;
        transition: 0.3s;

    }

}
