@import url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
:root{
    --white-light: rgba(255, 255, 255, 0.5);
    --alice-blue: #f8f9fa;
    --carribean-green: #23e0ab;
    --gray: #ededed;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Enriqueta';
    box-sizing: border-box;

    
    
}


a{
    text-decoration: none !important;
}

nav{
    background: #000000;
    font-family: 'Poppins',sans-serif;
}



nav::after{
    content: '';
    clear: both;
    display: table;
}




nav .logo{
    float: left;
    height: 70px;
    padding-top: 12px;
    padding-left: 58px;


}


.logo img{
    margin-left: -23px;
    width: 200px;
    height: 55px;
    margin-top: -2px;
}


nav ul{
    float:right;
    list-style: none;
    margin-right: 90px;
  
}

nav ul li{
    display: inline-block;
    background: black;
    margin: 0 5px;
}

nav ul li a{
    line-height: 70px;
    color: white;
    letter-spacing: 2px;
    transition: 0s;
    font-size: 18px;
    padding: 8px 15px;


}


nav ul li a:hover{
    transition: 0.3s;
    box-shadow: 0 0 5px #3aeff5, 0 0 5px #37e9e9;
    border-radius: 5px;

}


nav ul ul li a:hover{
    transition: 0.3s;
    box-shadow: 0 0 5px #13eb5b, 0 0 5px #16eb87;


}


nav ul ul{
    position: absolute;
    top:80px;
    margin-left: -50px;
    opacity: 0;
    visibility: hidden;
    transition: top 0.3s;
    z-index: 2;

}

nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
}
nav ul ul li{
    position:relative;
    margin: 0px;
    width: 210px;
    text-align: center;

    float: none;
    display:list-item;
    border-bottom:1px solid rgba(0,0,0,0.3);
}

nav ul ul li a{
    line-height: 50px;
    font-size: 15px;
}

.show,input,.icon{
    display: none;
}

@media all and (max-width: 968px){
    nav ul{
        margin-right:0px; 
        float: left;
    }

    nav .logo{
        width: 100%;
        padding-left: 30px;
    }

    nav ul li, nav ul ul li{
        display: block;
        width: 100%;
        border-radius: 5px;
    }

    nav ul ul{
        top: 78px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
        z-index: 1;
        margin-left: 9px;
    }

    
    nav ul ul li{
        border-bottom: 0px;
    }

    .show{
        display: block;
        color: white;
        font-size: 18px;
        padding: 0 17px;
        line-height: 70px;
        cursor: pointer;
        letter-spacing: 2px;
        transition: 0.3s;
    }
    .icon{
        display: block;
        color: white;
        position:absolute;
        margin-top: 21px ;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor:pointer;

    }
    

    .show + a, ul{
        display: none;
    }

    [id^=btn]:checked + ul{
        display: block;
    }

    .show:hover{
        color:cyan;
        transition: 0.3s;

    }

}
.background img{
    width: 100%;
    background-size:cover;
}

img{
    width: 100% ; 
    display: block !important;

}
.container{
    width: 90vw ;
    margin: 0 auto ;
}

.lg-title,.md-title,.sm-title{
    font-family: 'Enriqueta', sans-serif;
    padding: 0.6rem 0;
    text-transform: capitalize;

}
.lg-title{
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    padding: 1.3rem 0;
    opacity: 0.9;
}



.md-title{
    font-size: 2rem ;
    font-family: 'Enriqueta', sans-serif;
}

.sm-title{
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
}

.text-light{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    opacity: 0.5;
    margin: 0.4rem 0;
}

.products{

    background: var(--alice-blue);
    padding: 3.2em 0;
}

.products.text-light{
    text-align: center;
    width: 70%;
    margin: 0.9rem auto;

}

.item{
    margin:2rem;
    position: relative;
}


.item-content{
    background: var(--gray) ;
    padding: 3rem 0.5rem 2rem 0.5rem;
    cursor: pointer;

}
.image{
    background: var(--white-light) !important;
    box-shadow:  0 0 30px 10px var(--white-light) !important;
    width: 200px;
    height: 200px;
    margin:0 auto;
    border-radius: 50%;
    transition: background 0.5s ease;
}

.item-btns{
    display: flex !important;
    justify-content: center;
    margin-top: 1.4rem;
    opacity: 0;
    transition: opacity 0.6s ease;
}

.btn-cart, .btn-buy, .btn-wishlist{
    background: transparent;
    border: 1px solid black;
    padding: 0.8rem 0;
    width: 120px !important;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: all 0.6s ease;
}

.btn-cart{
    color:white;
    background: #000000;
}

.btn-cart:hover{
    background: var(--carribean-green);
}

.btn-buy{
    background: white;
}

.btn-buy:hover{
    background: var(--carribean-green);
    color: white;
}

.btn-wishlist{
    background: white;
}

.btn-wishlist:hover{
    background: var(--carribean-green);
    color: white;
}

.item-info{
    background: white;
    padding: 2rem;
}

.item-info-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.points span{
    color:var(--carribean-green)
}

.item-name{
    color: #000000;
    display: block;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.item-price{
    padding-top: 0.6rem;
    padding-right: 0.6rem;
    display: inline-block;
}

.item-price:first-of-type{
 text-decoration: line-through;
 color: var(--carribean-green);
}

.image img{
    transition: transform 0.6s ease;
}

.item:hover .image img{
    transform: scale(1.1);
}

.item:hover .image{
    background: var(--carribean-green);
}

.item:hover .item-btns{
    opacity: 1;
}

.discount-info .sm-title{
    background: var(--carribean-green);
    color: white;
    display: inline-block;
    position: absolute;
    padding: 0.5rem;
    top: 0;
    left: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    z-index: 1;
    letter-spacing: 3px;
    cursor: pointer;
}

/* Media Queries */
@media screen and (min-width: 992px){
    .product-items{
        display: grid;
        margin-left: -50px;
        grid-template-columns: repeat(2, 1fr) ;
    }
  
}
@media screen and (min-width: 1200px){
    .product-items{
        grid-template-columns: repeat(3, 1fr) !important;
    }
    .item{
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .products .text-light{
        margin-left: 80px;
        width: 90%;
    }
}

@media screen and (min-width: 1336px){
    .product-items{
        grid-template-columns: repeat(4, 1fr) ;
    }
   
    .flex{
        height: 60vh;
    }
}

.box{
    margin-top: -50px;
   width: 320px;
   height: 100%;
   box-shadow: 2px 2px  30px rgba(0,0,0,0.2);
   border-radius: 10px;
   margin-left: 10px;
   margin-right: 10px;
   overflow: hidden;
}


.slideimg{
   height: 390px;
   position: relative;
   border-radius: 20px;
}

.slideimg img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   box-sizing: border-box;
}

.infobox{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px 20px;
   box-sizing: border-box;
   font-family:'Times New Roman', Times, serif;
}

.type{
   display: flex;
   flex-direction:column;
  
}


.type a{
   color: #111;
   margin: 10px 25px;
   text-align: center;
   font-size: large;
   font-weight: 700;
   letter-spacing: 0.4px;
}

.overlay{
   position: absolute;
   left: 50%;
   top:50%;
   transform: translate(-50%,-50%);
   width: 100%;
   height: 100%;
   background-color: rgba(76, 119, 98, 0.6);
   display: flex;
   justify-content: center;
   align-items: center;
}

.buybutton{
   width: 150px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #FFFFFF;
   color: #252525;
   font-weight: 800;
   letter-spacing: 1px;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   border-radius: 20px;
   box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
   border: none;
}

.buybutton:hover{
   color: #FFFFFF;
   background-color: green;
   transition: all ease 0.3s;
}
.overlay {
   visibility: hidden;
}

.slideimg:hover .overlay{
   visibility: visible;
   animation: fade 0.5s;
}

@keyframes fade{
   0%{
       opacity: 0;
   }
   100%{
       opacity: 1;
   }
}

.category{
   display:flex;
   flex-direction: row;
}
.top{
    margin: 7rem 0 7rem 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}



.footer-bs {
    background-color: #3c3d41;
  padding: 60px 40px;
  color: rgba(255,255,255,1.00);
  margin-bottom: 20px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 6px;
  }
  .footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
  .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
  .footer-bs .footer-brand h2 { margin:0px 0px 10px; }
  .footer-bs .footer-brand p { font-size:14px; color:rgba(255, 241, 241, 0.952);}
  .footer-bs .footer-brand .card{
    margin-left: -13px;
    background: transparent;
  }
  
  
  .footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
  .footer-bs .footer-nav ul.pages li { padding:5px 0px;}
  .footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
  .footer-bs .footer-nav ul.pages a:hover { color:rgba(24, 182, 45, 0.8); text-decoration:none; }
  .footer-bs .footer-nav h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom:10px;
  }
  
  
  .footer-bs .footer-nav ul.list { list-style:none; padding:0px;}
  .footer-bs .footer-nav ul.list li { padding:5px 0px;}
  .footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
  .footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }
  
  .footer-bs .footer-social ul { list-style:none; padding:0px; }
  .footer-bs .footer-social h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  }
  .footer-bs .footer-social li { padding:5px 4px;}
  .footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
  .footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
  
  .footer-bs .footer-ns h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom:10px;
  }
  .footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }
  
  @media (min-width: 768px) {
  .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
  }





